<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h2 id="title" style="font-weight:500;text-align:center">Quản lý chi tiết khóa học</h2>
                </div>
                <div class="box-body">
                    <!-- ADD CLASS MODAL-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm lớp học</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label"><b>Tên lớp học</b></label>
                                            <input type="text" placeholder="Nhập tên lớp học" ng-model="addModal.ClassName" class="form-control" id="recipient-name">
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label"><b>Số lượng học sinh</b></label>
                                            <input type="number" placeholder="Nhập số lượng học sinh" ng-model="addModal.NumOfStudent" class="form-control" id="message-text">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="addClass()" class="btn" data-dismiss="modal">Thêm</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- EDIT CLASS MODAL-->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật lớp học</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label"><b>Tên lớp học</b></label>
                                            <input type="text" placeholder="Nhập tên hạng mục" ng-model="updateModal.ClassName" class="form-control" id="recipient-name">
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label"><b>Số lượng học sinh</b></label>
                                            <input type="number" placeholder="Nhập mô tả hạng mục" ng-model="updateModal.NumOfStudent" class="form-control" id="message-text">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button ng-click="updateClass(updateModal)" class="btn" data-dismiss="modal">Cập nhật</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="exTab3">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-target="#CourseSkill" data-toggle="tab">Kĩ năng</a>
                            </li>
                            <li>
                                <a data-target="#CourseTeacher" data-toggle="tab">Giáo viên</a>
                            </li>
                            <li>
                                <a data-target="#CourseClass" data-toggle="tab">Lớp học</a>
                            </li>
                            <li>
                                <a data-target="#CourseExercise" data-toggle="tab">Bài tập</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="CourseSkill">
                                <h4>Xem theo:</h4>
                                <input class="skill" type="radio" name="skill" value="added" checked> Đã thêm vào khóa học<br>
                                <input class="skill" type="radio" name="skill" value="not_added"> Chưa thêm vào khóa học<br>
                                <br />
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-click="orderByMe('SkillName')">Tên kĩ năng</th>
                                            <th ng-click="orderByMe('Description')">Mô tả kĩ năng</th>
                                            <th></th>
                                        </tr>
                                        <tr>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập tên kĩ năng" style="width:100%!important" ng-model="addModal.SkillName">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập mô tả kĩ năng" style="width:100%!important" ng-model="addModal.Description">
                                            </td>

                                            <td style="width:10%;text-align:center"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in skillData | filter:addModal | orderBy:myOrderBy track by $index">

                                            <td>
                                                <div>{{item.SkillName}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.Description}}</div>
                                            </td>
                                            <td style="width:10%;text-align:center">
                                                <!--<div ng-hide="isAdded"><input type="checkbox" id="cbClicked" /></div>
                                <div ng-show="isAdded"><input type="checkbox" id="cbClicked" checked /></div>-->

                                                <button ng-hide="isAddedSkill" class="btn btn-sm btn-circle btn-success" ng-click="addSkill($index)"><i class="fa fa-plus"></i> </button>
                                                <button ng-show="isAddedSkill" class="btn btn-sm btn-circle btn-danger" ng-click="removeSkill($index)"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Tên kĩ năng</th>
                                            <th>Mô tả kĩ năng</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="tab-pane" id="CourseExercise">

                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-click="orderByMe('ExerciseName')">Tên bài tập</th>
                                            <th ng-click="orderByMe('Description')">Mô tả bài tập</th>
                                            <th ng-click="orderByMe('ExerciseTime')">Thời gian làm bài</th>
                                            <th ng-click="orderByMe('ExerciseScore')">Điểm số</th>
                                            <th ng-click="orderByMe('ExercisePath')">Đường dẫn</th>
                                            <th ng-click="orderByMe('Note')">Ghi chú</th>
                                            <th></th>
                                        </tr>
                                        <tr>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập tên bài tập" style="width:100%!important" ng-model="addModal.ExerciseName">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập mô tả bài tập" style="width:100%!important" ng-model="addModal.Description">
                                            </td>


                                            <td>
                                                <input class="form-control w3-input" type="number" placeholder="Nhập thời gian làm bài" style="width:100%!important" ng-model="addModal.ExerciseTime">
                                            </td>


                                            <td>
                                                <input class="form-control w3-input" type="number" placeholder="Nhập điểm số" style="width:100%!important" ng-model="addModal.ExerciseScore">
                                            </td>


                                            <td>
                                                <input class="form-control w3-input" type="file" placeholder="Nhập đường dẫn" style="width:100%!important" ng-model="addModal.ExercisePath">
                                            </td>


                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập ghi chú" style="width:100%!important" ng-model="addModal.Note">
                                            </td>

                                            <td style="width:10%;text-align:center">
                                                <button class="btn btn-sm btn-circle btn-success" ng-click="addExercise()"><i class="fa fa-plus"></i> </button>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="item in exerciseData | filter:addModal | orderBy:myOrderBy track by $index">

                                        <td>
                                            <div ng-hide="editItem[$index]"><a ui-sref="clickExercise({exerciseID:item.ExerciseID, clickItem: item})">{{item.ExerciseName}}</a></div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="text" ng-model="item.ExerciseName" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editItem[$index]">{{item.Description}}</div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="text" ng-model="item.Description" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editItem[$index]">{{item.ExerciseTime}}</div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="number" ng-model="item.ExerciseTime" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editItem[$index]">{{item.ExerciseScore}}</div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="number" ng-model="item.ExerciseScore" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editItem[$index]">{{item.ExercisePath}}</div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="text" ng-model="item.ExercisePath" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editItem[$index]">{{item.Note}}</div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="text" ng-model="item.Note" /></div>
                                        </td>
                                        <td style="width:10%;text-align:center">
                                            <button ng-hide="editItem[$index]" class="btn btn-sm btn-circle btn-success" ng-click="editExercise($index)"><i class="fa fa-pencil"></i> </button>
                                            <button ng-show="editItem[$index]" class="btn btn-sm btn-circle btn-success" ng-click="updateExercise($index,item)">OK </button>
                                            <button class="btn btn-sm btn-circle btn-danger" ng-click="removeExercise($index)"><i class="fa fa-trash"></i> </button>
                                        </td>
                                    </tr>
                                    <tfoot>
                                        <tr>
                                            <th>Tên bài tập</th>
                                            <th>Mô tả bài tập</th>
                                            <th>Thời gian làm bài</th>
                                            <th>Điểm số</th>
                                            <th>Đường dẫn</th>
                                            <th>Ghi chú</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="tab-pane" id="CourseTeacher" >
                                <div class="col-sm-offset-1">
                                    <br />
                                    <h4 ><b>Họ tên: </b>{{teacherInfo.Name}}</h4>
                                    <h4 ><b>Điện thoại: </b>{{teacherInfo.Phone}}</h4>
                                    <h4 ><b>Địa chỉ: </b>{{teacherInfo.Address}}</h4>
                                    <h4 ><b>Email: </b>{{teacherInfo.Email}}</h4>
                                    <br />
                                </div>
                            </div>
                            <div class="tab-pane" id="CourseClass">

                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th ng-click="orderByMe('ClassName')">Tên lớp</th>
                                            <th ng-click="orderByMe('NumOfStudent')">Số lượng học sinh</th>
                                            <th ng-click="orderByMe('NumOfStudent')">Mã lớp</th>
                                            <th></th>
                                        </tr>
                                        <tr>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập tên lớp" style="width:100%!important" ng-model="filterModal.ClassName">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" type="number" placeholder="Nhập số lượng học sinh" style="width:100%!important" ng-model="filterModal.NumOfStudent">
                                            </td>
                                            <td style="width:10%;text-align:center">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="filterModal"> Thêm</button>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in classData | filter:filterModal | orderBy:myOrderBy track by $index">

                                            <td>
                                                <div ng-hide="ClassItem[$index]"><a ui-sref="clickClass({classID:item.ClassID,className:item.ClassName, clickItem: item})">{{item.ClassName}}</a></div>
                                                <div ng-show="ClassItem[$index]"><input style="width:100%!important" type="text" ng-model="item.ClassName" /></div>
                                            </td>
                                            <td>
                                                <div ng-hide="ClassItem[$index]">{{item.NumOfStudent}}</div>
                                                <div ng-show="ClassItem[$index]"><input style="width:100%!important" type="number" ng-model="item.NumOfStudent" /></div>
                                            </td>
                                            <td>
                                                <div ng-hide="ClassItem[$index]">{{item.Code}}</div>
                                                <div ng-show="ClassItem[$index]"><input style="width:100%!important" type="number" ng-model="item.NumOfStudent" /></div>
                                            </td>
                                            <td style="width:10%;text-align:center">
                                                <button ng-hide="editItem[$index]" class="btn btn-sm btn-circle btn-success" data-toggle="modal" data-target="#editModal" ng-click="editClass($index, item)"><i class="fa fa-pencil"></i> </button>                                    <button ng-show="editItem[$index]" class="btn btn-sm btn-circle btn-success" ng-click="updateCategory($index,item)">OK </button>
                                                <button ng-show="ClassItem[$index]" class="btn btn-sm btn-circle btn-success" ng-click="updateClass($index,item)">OK </button>
                                                <button class="btn btn-sm btn-circle btn-danger" ng-click="removeClass($index)"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Tên lớp</th>
                                            <th>Số lượng học sinh</th>
                                            <th>Mã lớp</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->