<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-13 col-sm-offset-1">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h2 id="title" style="font-weight:500;text-align:center">Quản lý chi tiết lớp học</h2>
                </div>
                <div class="box-body">
                    <div id="exTab3">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-target="#ClassTeacher" data-toggle="tab">Giáo viên</a>
                            </li>
                            <li>
                                <a data-target="#ClassStudent" data-toggle="tab">Học sinh</a>
                            </li>
                            <li>
                                <a data-target="#ClassExercise" data-toggle="tab">Bài tập</a>
                            </li>
                        </ul>

                        <!-- ADD EXERCISE MODAL -->
                        <div class="modal fade" id="exerciseModal" tabindex="-1" role="dialog" aria-labelledby="exerciseModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exerciseModalLabel">Thêm bài tập</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Tên bài tập</b></label>
                                                <input class="form-control" placeholder="Nhập tên bài tập " style="width:100%!important" ng-model="studentAddModal.StudentFullName">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Mô tả bài tập</b></label>
                                                <textarea class="form-control" placeholder="Nhập mô tả bài tập " style="width:100%!important" ng-model="studentAddModal.StudentAddress"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Thời gian làm bài</b></label>
                                                <input type="number" class="form-control" placeholder="Nhập thời gian làm bài" style="width:100%!important" ng-model="studentAddModal.StudentBirthday">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Ghi chú</b></label>
                                                <input class="form-control" placeholder="Nhập ghi chú" style="width:100%!important" ng-model="studentAddModal.StudentEmail">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button ng-click="createStudent()" class="btn" data-dismiss="modal">Thêm</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ADD STUDENT MODAL -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thêm học sinh</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Họ tên</b></label>
                                                <input class="form-control" placeholder="Nhập họ tên " style="width:100%!important" ng-model="studentAddModal.StudentFullName">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Địa chỉ</b></label>
                                                <textarea class="form-control" placeholder="Nhập địa chỉ " style="width:100%!important" ng-model="studentAddModal.StudentAddress"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Ngày sinh</b></label>
                                                <input type="date" class="form-control" placeholder="Nhập ngày sinh" style="width:100%!important" ng-model="studentAddModal.StudentBirthday">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Email</b></label>
                                                <input class="form-control" placeholder="Nhập email" style="width:100%!important" ng-model="studentAddModal.StudentEmail">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Số điện thoại</b></label>
                                                <input type="number" class="form-control" placeholder="Nhập số điện thoại" style="width:100%!important" ng-model="studentAddModal.StudentPhoneNumber">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label"><b>Tên đăng nhập</b></label>
                                                <input class="form-control" placeholder="Nhập tên đăng nhập" style="width:100%!important" ng-model="studentAddModal.StudentUsername">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button ng-click="createStudent()" class="btn" data-dismiss="modal">Thêm</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <!-- TEACHER -->
                            <div class="tab-pane active" id="ClassTeacher">
                                <h4>Xem theo:</h4>
                                <input class="teacher" type="radio" name="add" value="added" checked> Đã thêm vào khóa học<br>
                                <input class="teacher" type="radio" name="add" value="not_added"> Chưa thêm vào khóa học<br>
                                <br />
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-click="orderByMe('TeacherFullName')">Họ tên</th>
                                            <th ng-click="orderByMe('TeacherAddress')">Địa chỉ</th>
                                            <th ng-click="orderByMe('TeacherBirthday')">Ngày sinh</th>
                                            <th ng-click="orderByMe('TeacherEmail')">Email</th>
                                            <th ng-click="orderByMe('TeacherPhoneNumber')">Số điện thoại</th>
                                            <th ng-click="orderByMe('TeacherUserName')">Tên đăng nhập</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập họ tên " style="width:100%!important" ng-model="filterModal.TeacherFullName">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập địa chỉ " style="width:100%!important" ng-model="filterModal.TeacherAddress">
                                            </td>
                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập ngày sinh" style="width:100%!important" ng-model="filterModal.TeacherBirthday">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập email" style="width:100%!important" ng-model="filterModal.TeacherEmail">
                                            </td>
                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập số điện thoại" style="width:100%!important" ng-model="filterModal.TeacherPhoneNumber">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập tên đăng nhập" style="width:100%!important" ng-model="filterModal.TeacherUserName">
                                            </td>

                                            <td style="width:10%;text-align:center"></td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in teacherData | filter:filterModal | orderBy:myOrderBy track by $index">

                                            <td>
                                                <div>{{item.FullName}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.Address}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.BirthDay}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.Email}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.PhoneNumber}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.UserName}}</div>
                                            </td>
                                            <td style="width:10%;text-align:center">
                                                <!--<div ng-hide="isAdded"><input type="checkbox" id="cbClicked" /></div>
                            <div ng-show="isAdded"><input type="checkbox" id="cbClicked" checked /></div>-->

                                                <button ng-hide="isAddedTeacher " class="btn btn-sm btn-circle btn-success" ng-click="addTeacher($index)"><i class="fa fa-plus"></i> </button>
                                                <button ng-show="isAddedTeacher " class="btn btn-sm btn-circle btn-danger" ng-click="removeTeacher($index)"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th ng-click="orderByMe('TeacherFullName')">Họ tên</th>
                                            <th ng-click="orderByMe('TeacherAddress')">Địa chỉ</th>
                                            <th ng-click="orderByMe('TeacherBirthday')">Ngày sinh</th>
                                            <th ng-click="orderByMe('TeacherEmail')">Email</th>
                                            <th ng-click="orderByMe('TeacherPhoneNumber')">Số điện thoại</th>
                                            <th ng-click="orderByMe('TeacherUserName')">Tên đăng nhập</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- STUDENT -->
                            <div class="tab-pane" id="ClassStudent">
                                <h4>Xem theo:</h4>
                                <input class="student" type="radio" name="add" value="added" checked> Đã thêm vào khóa học<br>
                                <input class="student" type="radio" name="add" value="not_added"> Chưa thêm vào khóa học<br>
                                <br />

                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-click="orderByMe('StudentFullName')">Họ tên</th>
                                            <th ng-click="orderByMe('StudentAddress')">Địa chỉ</th>
                                            <th ng-click="orderByMe('StudentBirthday')">Ngày sinh</th>
                                            <th ng-click="orderByMe('StudentEmail')">Email</th>
                                            <th ng-click="orderByMe('StudentPhoneNumber')">Số điện thoại</th>
                                            <th ng-click="orderByMe('StudentUserName')">Tên đăng nhập</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập họ tên " style="width:100%!important" ng-model="studentModal.StudentFullName">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập địa chỉ " style="width:100%!important" ng-model="studentModal.StudentAddress">
                                            </td>
                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập ngày sinh" style="width:100%!important" ng-model="studentModal.StudentBirthday">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập email" style="width:100%!important" ng-model="studentModal.StudentEmail">
                                            </td>
                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập số điện thoại" style="width:100%!important" ng-model="studentModal.StudentPhoneNumber">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập tên đăng nhập" style="width:100%!important" ng-model="studentModal.StudentUsername">
                                            </td>

                                            <td style="width:10%;text-align:center">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="addModal"> Thêm</button>

                                            </td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in studentData | filter:studentModal | orderBy:myOrderBy track by $index">

                                            <td>
                                                <div>{{item.FullName}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.Address}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.BirthDay}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.Email}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.PhoneNumber}}</div>
                                            </td>
                                            <td>
                                                <div>{{item.UserName}}</div>
                                            </td>
                                            <td style="width:10%;text-align:center">
                                                <!--<div ng-hide="isAdded"><input type="checkbox" id="cbClicked" /></div>
                            <div ng-show="isAdded"><input type="checkbox" id="cbClicked" checked /></div>-->

                                                <button ng-hide="isAddedStudent" class="btn btn-sm btn-circle btn-success" ng-click="addStudent($index)"><i class="fa fa-plus"></i> </button>
                                                <button ng-show="isAddedStudent" class="btn btn-sm btn-circle btn-danger" ng-click="removeStudent(item,$index)"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th ng-click="orderByMe('StudentFullName')">Họ tên</th>
                                            <th ng-click="orderByMe('StudentAddress')">Địa chỉ</th>
                                            <th ng-click="orderByMe('StudentBirthday')">Ngày sinh</th>
                                            <th ng-click="orderByMe('StudentEmail')">Email</th>
                                            <th ng-click="orderByMe('StudentPhoneNumber')">Số điện thoại</th>
                                            <th ng-click="orderByMe('StudentUserName')">Tên đăng nhập</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- EXERCISE -->
                            <div class="tab-pane" id="ClassExercise">

                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th ng-click="orderByMe('ExerciseName')">Tên bài tập</th>
                                            <th ng-click="orderByMe('Description')">Mô tả bài tập</th>
                                            <th ng-click="orderByMe('ExerciseTime')">Thời gian làm bài</th>
                                            <th ng-click="orderByMe('Note')">Ghi chú</th>
                                            <th></th>
                                        </tr>
                                        <tr>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập tên bài tập" style="width:100%!important" ng-model="filterModal.ExerciseName">
                                            </td>

                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập mô tả bài tập" style="width:100%!important" ng-model="filterModal.Description">
                                            </td>


                                            <td>
                                                <input class="form-control w3-input" type="number" placeholder="Nhập thời gian làm bài" style="width:100%!important" ng-model="filterModal.ExerciseTime">
                                            </td>


                                            <td>
                                                <input class="form-control w3-input" placeholder="Nhập ghi chú" style="width:100%!important" ng-model="filterModal.Note">
                                            </td>

                                            <td style="width:10%;text-align:center">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exerciseModal" data-whatever="addModal"> Thêm</button>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="item in exerciseData | filter:filterModal | orderBy:myOrderBy track by $index">

                                        <td>
                                            <div ng-hide="editItem[$index]"><a ui-sref="clickExercise({exerciseID:item.ExerciseID, clickItem: item})">{{item.ExerciseName}}</a></div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="text" ng-model="item.ExerciseName" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editItem[$index]">{{item.Description}}</div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="text" ng-model="item.Description" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editItem[$index]">{{item.ExerciseTime}}</div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="number" ng-model="item.ExerciseTime" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editItem[$index]">{{item.Note}}</div>
                                            <div ng-show="editItem[$index]"><input style="width:100%!important" type="text" ng-model="item.Note" /></div>
                                        </td>
                                        <td style="width:10%;text-align:center">
                                            <button ng-hide="editItem[$index]" class="btn btn-sm btn-circle btn-success" ng-click="editExercise($index)"><i class="fa fa-pencil"></i> </button>
                                            <button ng-show="editItem[$index]" class="btn btn-sm btn-circle btn-success" ng-click="updateExercise($index,item)">OK </button>
                                            <button class="btn btn-sm btn-circle btn-danger" ng-click="removeExercise($index)"><i class="fa fa-trash"></i> </button>
                                        </td>
                                    </tr>
                                    <tfoot>
                                        <tr>
                                            <th>Tên bài tập</th>
                                            <th>Mô tả bài tập</th>
                                            <th>Thời gian làm bài</th>
                                            <th>Ghi chú</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->