<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h2 style="text-align:center">Bài tập</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div id="CourseExercise">

                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th ng-click="orderByMe('ExerciseName')">Tên bài tập</th>
                                </tr>
                                <tr>

                                    <td>
                                        <input class="form-control w3-input" placeholder="Nhập tên bài tập" style="width:100%!important" ng-model="addModal.ExerciseName">
                                    </td>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in curDataFilter | filter:addModal | orderBy:myOrderBy track by $index">

                                <td>
                                    <div style="border-radius: 10px;border: 2px solid lightgray;padding:5px;">
                                        <h3 style="color:firebrick;"><i class="fa fa-file-text-o" style="color:cadetblue"></i><a ui-sref="do_exercise({exerciseID :item.ExerciseID })"> {{item.ExerciseName}}</a></h3>
                                        <div><b>Mô tả: </b>{{item.Description}}</div>
                                        <div><b>Thời gian: </b> {{item.ExerciseTime}}</div>
                                        <div><b>Điểm số: </b> {{item.ExerciseScore}}</div>
                                        <div><b>Ghi chú: </b> {{item.Note}}</div>

                                    </div>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tfoot>
                                <tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
        </div>
    <!-- /.row -->
</section>
<!-- /.content -->
