
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" style="border-radius: 20px;background-color:lightcyan;">
        <h2 class="login-box-msg"><b>Thay đổi thông tin</b></h2>

        <form class="login-form" role="form">
            <div class="form-group has-feedback">
                <p>Họ tên: </p><input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Nhập họ tên" ng-model="profileData.FullName" required oninvalid="this.setCustomValidity('Mật khẩu không được để trống')" oninput="this.setCustomValidity('')" />{{profileData.FullName}}
            </div>
            <div class="form-group has-feedback">
                <p>Địa chỉ: </p><textarea class="form-control form-control-solid placeholder-no-fix" autocomplete="off" placeholder="Nhập địa chỉ" ng-model="profileData.Address" required oninvalid="this.setCustomValidity('Mật khẩu không được để trống')" oninput="this.setCustomValidity('')" />{{profileData.Address}}
            </div>
            <div class="form-group has-feedback">
                <p>Ngày sinh: </p><input class="form-control form-control-solid placeholder-no-fix" type="date" autocomplete="off" placeholder="Nhập ngày sinh" ng-model="profileData.BirthDay" required oninvalid="this.setCustomValidity('Mật khẩu không được để trống')" oninput="this.setCustomValidity('')" />{{profileData.BirthDay}}
            </div> <div class="form-group has-feedback">
    <p>Email: </p><input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Nhập email" ng-model="profileData.Email" required oninvalid="this.setCustomValidity('Mật khẩu không được để trống')" oninput="this.setCustomValidity('')" />{{profileData.Email}}
</div>
            <div class="form-group has-feedback">
                <p>Mật khẩu mới: </p><input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Nhập mật khẩu đăng nhập mới" ng-model="profileData.password1" required oninvalid="this.setCustomValidity('Mật khẩu không được để trống')" oninput="this.setCustomValidity('')" />
            </div>
            <div class="form-group has-feedback">
                <p>Xác nhận mật khẩu: </p><input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Nhập lại mật khẩu đăng nhập mới" ng-model="profileData.password2" required oninvalid="this.setCustomValidity('Mật khẩu không được để trống')" oninput="this.setCustomValidity('')" />
            </div>
            <div class="form-group has-feedback">
                <p>Số điện thoại: </p><input class="form-control form-control-solid placeholder-no-fix" type="number" autocomplete="off" placeholder="Nhập số điện thoại" ng-model="profileData.PhoneNumber" required oninvalid="this.setCustomValidity('Mật khẩu không được để trống')" oninput="this.setCustomValidity('')" />{{profileData.PhoneNumber}}
            </div>
            <div class="row">
                <div class="col-xs-4">

                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button ng-click="updateProfile()" class="btn btn-primary btn-block btn-flat">Cập nhật</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.social-auth-links -->
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<!-- jQuery 3 -->
