<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h2 style="text-align:center">Lớp học</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="text-align:right">
                        <button  ng-click="joinClass()" class="btn btn-primary" style="float:right;margin-bottom:20px;margin-left:10px;">OK</button><input class="form-control"  style="float:right;width:20%!important"  type="text" placeholder="Nhập mã lớp"  ng-model="updateModal.ClassCode"/> <br /><br />
                    </div>
                    <div class="tab-pane" id="CourseClass">

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th ng-click="orderByMe('ClassName')">Tên lớp</th>
                                </tr>
                                <tr>

                                    <td>
                                        <input class="form-control w3-input" placeholder="Nhập tên lớp" style="width:100%!important" ng-model="addModal.ClassName">
                                    </td>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in curDataFilter| filter:addModal | orderBy:myOrderBy track by $index">

                                    <td>
                                        <div style="border-radius: 10px;border: 2px solid lightgray;padding:5px;">
                                            <h2 style="color:firebrick;"><i class="fa fa-folder-open-o" style="color:cadetblue;"></i><a ui-sref="clickClassStudent({classID:item.ClassID,courseID:item.CourseID, clickItem: item})"><b> {{item.ClassName}}</b></a></h2>
                                            <div style="display:block"><h4><b style="color:cadetblue;">Giáo viên: </b>{{item.FullName}}</h4></div>

                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
        </div>
    <!-- /.row -->
</section>
<!-- /.content -->
