<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h1>Thống kê chi tiết lớp Classname</h1>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <h2>Danh sách bài tập</h2>
                    <div>
                        <div class="w3-responsive">
                            <table class="w3-table w3-hoverable">
                                <tr class="w3-yellow">
                                    <th>Tên bài tập</th>
                                    <th>Mô tả</th>
                                    <th>Thời gian làm bài(phút)</th>
                                    <th>Kỹ năng</th>
                                    <th>Điểm kỹ năng</th>
                                    <th>Đang xem</th>
                                </tr>
                                <tr>
                                    <td>Cộng cơ bản</td>
                                    <td>cộng dưới 100</td>
                                    <td>15</td>
                                    <td>Toán cộng</td>
                                    <td>0.5</td>
                                    <td><input type="radio" /></td>

                                </tr>
                            </table>
                        </div>
                    </div>

                    <h1 style="text-align:center">Thống kê chi tiết bài tập cộng</h1>
                    <div id="piechart" class="col-sm-offset-3">
                    </div>

                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <h2>Danh sách điểm</h2>
                    <div>
                        <div class="w3-responsive">
                            <table class="w3-table w3-hoverable">
                                <tr class="w3-yellow">
                                    <th>Họ tên</th>
                                    <th>Điểm số</th>
                                    <th>Làm lại</th>
                                </tr>
                                <tr>
                                    <td>Nguyễn Khoa</td>
                                    <td>8</td>
                                    <td><button class="button" type="button" onclick="alert('Làm lại cho nhớ nha em!')"><i class="fa fa-repeat"></i></button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        </div>
</section>
<!-- /.content -->